* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
}

.html,
body,
#root,
html,
body {
  background: #FFFFFF;
}

.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background: #FFFFFF;
  border-top: 2px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}